* {
  box-sizing: border-box;
}

.jumbotron {
  padding: 33px;
  margin-bottom: 0px;
  background-color: white;
}

#fish {
  /* margin-left: 25%;
    padding: 10px; */
}

#tunafyTitle {
  /* margin-left: -20px;
    margin-right: -5px;
    padding: 10px; */
}
.lead {
  font-size: 33px;
  font-weight: bold;
  color: #00aaff;
  text-shadow: 1.5px 1.5px 0 #091963;
}

#searchRow {
  margin-right: 3%;
  margin-left: 3%;
  background-color: #e9ecef;
}

.form-control {
  display: initial;
  width: 86%;
}

.btn {
  background-color: rgb(62, 134, 241);
  color: white;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
  border: none;
}
