/* comment */
* {
    box-sizing: border-box;
  }

body {
    background: url("../images/tunafy-bg.jpg") no-repeat fixed;
    background-size: cover;
    background-color: black;
    background-position: 50%;
}

.jumbotron {
    padding: 33px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,.01);
}

#fish {
    width: 28%;
    height: 28%;
}

#tunafyTitle {
    width: 65%;
    height: 65%;
}

#tagline {
    font-size: 2rem;
    font-weight: bold;
    color: #00aaff;
    text-shadow: 1px 1px 2px #091963, 0 0 0.2em blue; 
}

#searchRow {
    margin-right: 3%;
    margin-left: 3%;
    background-color: rgb(255, 255, 255, .5);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: .25rem;
}

/* Seach Bar */
.form-control {
     display: initial;
     width: 86%;   
     margin-bottom: 10px;
     margin-top: 8px;
}

/* Search Button */
.btn {
    background-color: rgb(62, 134, 241);
    color: white;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    border: none;
}

/* Results Div & Video Div*/
.card {
    background-color: rgb(255, 255, 255, .5);
    border: 1px solid rgba(0,0,0,.5);
}

/* Biography Div */
#title {
    font-size: 1rem;
    font-weight: bold;
    color: #091963;
    text-shadow: 1px 1px 2px #00aaff, 0 0 0.2em #00aaff; 
}

#gifImg {
    float: left;
    padding: 10px 10px 10px 10px;
    display: block;
    margin-left: 36px;
    margin-right: auto;
    width: 300px;
    height: 300px;
}


/* Media Queries */
@media only screen and (max-width: 992px) {
    .form-control {
        width: 100%;   
   }   
    .btn {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 720px) {
    #fish {
        width: 75%;
        height: 75%;
    }
    #tunafyTitle {
        width: 100%;
        height: 100%;
    }
    #tagline {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1200px) {
    #gifImg {
        float: left;
        padding: 10px 10px 10px 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}

